---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

export const prerender = true;

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
      name: 'message',
    }}
    description="We'll get back to you as soon as possible."
    button="Send Message"
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    columns={2}
    items={[
      {
        title: 'Get in Touch',
        description: 'For any inquiries about our properties or services, please reach out to us at <a href="mailto:pete@permanenthomes.org" class="text-primary hover:underline">pete@permanenthomes.org</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Paonia, CO',
        icon: 'tabler:map-2',
      },
    ]}
    classes={{
      container: 'max-w-3xl mx-auto',
      items: 'text-center',
    }}
  />
</Layout>
